body.signin-body{
    background-color: #e6f2ff;
}

.container.signin-container {
    margin-top: 8%;
}

.card.signin-card {
    padding: 40x 0px 20px;
    background-color: #f4f4f4;
    box-shadow: 2px 2px 5px rgba(0,0,0,5);
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);

}

img.signin-img {
    padding: 0.5 2rem 2rem;
    margin: auto;
    display: block;
    width: 35%;
    margin-bottom: 15px;
    margin-top: 10px;
}

form.signin-form {
    max-width: 350px;
    margin: auto;
    margin-bottom: 10px;
}

button.signin-btn {
    color: #ffff;
    background-color: dodgerblue;
    width: 100%;
    margin-bottom: 1.2rem;

}

#emailInput {
    margin: auto;
    margin-bottom: 7px;
}

#passwordInput {
    margin: auto;
    margin-bottom: 7px;
}

a.create-new-account {
    font-size: 1.2rem;
    text-align: center;
    display: block;
    margin-top: 15px;



}